<!-- <ul>
  <li *ngFor="let nav of navs">
  <a [routerLink]="nav.path" routerLinkActive="activeClass">{{nav.name}}</a>
  </li>
</ul> -->
<div class="navBar">
  <br>
<span class="SmartCartName">SmartCart</span>
<!-- <span *ngFor="let nav of navs" class="navElements">
  <a [routerLink]="nav.path" routerLinkActive="activeClass">{{nav.name}}</a>
</span> -->
<!-- <span class="navElements" routerLinkActive="activeClass"><a routerLink="app-home" >Home</a></span> -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->

<span class="navElements r" routerLinkActive="activeClass"><a (click)="logoutUser()" class="text-white">Logout</a></span>
<span class="navElements r" routerLinkActive="activeClass"><a routerLink="app-profile" class="text-white">Profile</a></span>
<!-- <span class="navElements r" routerLinkActive="activeClass"><a routerLink="app-login" class="text-white">Login</a></span> -->
<!-- <span class="navElements r" routerLinkActive="activeClass"><a routerLink="app-signup" class="text-white">Sign Up</a></span> -->
<span class="navElements r" routerLinkActive="activeClass"><a routerLink="app-wishlist" class="text-white">WishList</a></span>
<span class="navElements r" routerLinkActive="activeClass"><a routerLink="app-cart" class="text-white">Cart</a></span>
<!-- <span class="glyphicon glyphicon-shopping-cart"></span> -->
<span class="navElements"><form class="form-inline my-2 my-lg-0 r navElements">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
</form></span>
<span class="navElements r" routerLinkActive="activeClass"><a routerLink="app-home" class="text-white">Home</a></span>
</div>

<!-- <app-signup></app-signup> -->
<!-- <app-home></app-home>
<app-login></app-login> -->
<br>

<router-outlet class="middle"></router-outlet>
<!-- <footer>
<div class="footer">@copyright</div>
</footer> -->