

<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="form-group">
      <label for="email" id="loginEmail">Email:</label>
      <input type="email" id="email" formControlName="email">
      <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
        <span class="errorMsg">Invalid Email</span>
      </div>
    </div>
    <div class="form-group">
      <label for="password" id="loginPwd">Password:</label>
      <input type="password" id="password" formControlName="password">
      <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
        <span class="errorMsg">Password is required (minimum 8 characters)</span>
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form><br><br>
  <div style="justify-content: center;">do not have an account? <a routerLink="/app-signup">Register here</a></div>
</div>

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="loginBox">
<form (ngSubmit)="submitForm()" class="mt-4">
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="formData.email" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="formData.password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
  </form>
  </div> -->
  
  
